body{
  background-image: url(https://st.depositphotos.com/3008028/4295/i/950/depositphotos_42951033-stock-photo-high-quality-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
    width: 100%;
}
h1{
    border: black solid 2px;
    background-color: rgb(134, 12, 12);
    margin: 1em;
    text-align: center;
}
section h3{
    background-color: rgb(8, 3, 66);
    color : rgb(255, 255, 255) ;
    padding: 10px;
    margin: 10px;

}
section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(29, 77, 35, 0.856);
  margin: 15px;
    
}
main section li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(8, 61, 15, 0.603);
  margin: 15px;
}