header {
    width: 100%;
}
h1{
    border: black solid 2px;
    background-color: rgb(134, 12, 12);
    margin: 1em;
    text-align: center;
}
section h3{
    background-color: rgb(13, 7, 99);
    color : rgb(255, 255, 255) ;
    padding: 10px;
    margin: 10px;

}
section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(73, 97, 76);
  margin: 15px;
    
}
main section li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(8, 80, 18, 0.507);
  margin: 15px;
}